$primary: #BCC4DB
$secondary: #C0A9B0
$tertiary: #7880B5
$quaternary: #6987C9
$quinary: #6BBAEC

$size-one: 3rem
$size-two: 2.25rem
$size-three: 2rem
$size-four: 1.75rem
$size-five: 1.5rem
$size-six: 1.25rem

h1
	font-size: $size-one
h2
	font-size: $size-two
h3
	font-size: $size-three
h4
	font-size: $size-four
h5
	font-size: $size-five
h6
	font-size: $size-six


*
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif


body, html
	height: 100%
	width: 100%

header
	display: flex
	justify-content: center
	width: 80%

/* CSS */
.button 
	align-items: center
	background-color: initial
	background-image: linear-gradient(#464d55, #25292e)
	border-radius: 8px
	border-width: 0
	box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05)
	box-sizing: border-box
	color: #fff
	cursor: pointer
	display: inline-flex
	flex-direction: column
	font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
	font-size: 18px
	height: 52px
	justify-content: center
	line-height: 1
	margin: 0
	outline: none
	overflow: hidden
	padding: 0 32px
	text-align: center
	text-decoration: none
	transform: translate3d(0, 0, 0)
	transition: all 150ms
	vertical-align: baseline
	white-space: nowrap
	&:hover 
		box-shadow: rgba(0, 1, 0, .2) 0 2px 8px
		opacity: .85
	&:active 
		outline: 0
	&:focus 
		box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px

.container
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center


.main
	width: 80%

.navBar
	margin-bottom: 3%
	margin-top: 3%
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-around
	width: 80%

	&__home
		height: 60px
		padding: 20px

	&__links
		display: flex
		justify-content: space-around
		flex-wrap: nowrap
		align-items: center
		padding: 10px
		a
			padding: 10px
			margin: 10px

.cartWidget
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	&__link
		color: black
		&:visited
			color: black
	&__widget
		cursor: pointer
		font-size: $size-one
	&__count
		margin-left: 10px
		font-size: $size-one

.itemCount
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	&__countContainer
		margin-bottom: 20px
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
	&__count
		min-width: 50px
		font-size: $size-five
		text-align: center
		font-weight: bold
	&__button
		border-radius: 50%
		height: 30px
		width: 30px
		padding: 0px


.itemList
	display: flex
	flex-direction: row
	justify-content: space-around
	flex-wrap: wrap
	width: 100%
	margin-top: 20px
	margin-bottom: 50px

.itemCard
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	width: 300px
	height: 500px
	margin: 40px 20px
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;	border-radius: 15px
	&__title
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		min-height: 96px
		text-align: center
		padding: 10px
		margin-bottom: 10px
		font-size: $size-three
	&__image
		width: 230px
		height: 250px
		padding: 10px
		margin-bottom: 10px
		border-radius: 15px
	&__description
		font-size: $size-five
		padding: 10px
		margin-bottom: 10px
	&__button
		align-self: center
		margin-top: 25px
		margin-bottom: 15px

.itemDetail
	width: 600px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	border-radius: 50px
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	margin-bottom: 50px
	&__title
		margin-bottom: 15px
	&__image
		border-radius: 25px
		margin-bottom: 15px
	&__description
		width: 400px
		margin-bottom: 15px
		font-size: $size-six
	&__price
		margin-bottom: 15px
		font-size: $size-six
	&__itemCount
		margin: 20px 0px
	&__buyButton
		margin: 20px 0px

.cartProduct
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	padding: 10px
	margin: 10px
	&__title
		display: inline-block
		padding: 10px
		margin: 10px
		width: 200px
	&__price
		padding: 10px
		margin: 10px
		width: 100px
	&__quantity
		padding: 10px
		margin: 10px
		width: 50px
	&__button
		padding: 10px
		margin: 10px
	&__image
		border-radius: 75%
		padding: 10px
		margin: 10px
		width: 150px
		height: 150px

.cartTotal
	margin: 10px
	padding: 10px

.cart
	&__emptyTitle
		margin-bottom: 15px
	&__backButton
		margin-bottom: 15px

.order
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 10px
	margin: 10px
	&__inputGroup
		margin-bottom: 15px
	&__input
		border-radius: 5px
		height: 30px
		font-size: $size-six
		margin: 10px

::-webkit-input-placeholder
	text-align: center

.modal
	display: flex
	justify-content: center
	align-items: center
	position: absolute
	padding: 30px
	border-radius: 20px
	width: 500px
	background: white
	border: 2px solid #ccc
	box-shadow: -2rem 2rem 2rem rgba(black, 0.2)
	filter: blur(0)
	opacity: 1
	&__text
		text-align: center
		font-size: $size-six

.footer
	display: flex
	flex-direction: row
	justify-content: space-evenly
	width: 80%
	margin: 20px
	padding: 20px
	&__links
		display: flex
		flex-direction: row
		justify-content: space-evenly
		width: 20%
	&__img
		width: 50px
		height: 50px



@media (max-width: 420px) 
	.button 
		height: 48px
		text-align: center

@media (max-width: 1400px) 
	.navBar
		width: 100%
